<div id="<%= dom_id monitem %>">
  <p>
    <strong><%= t(".item") %></strong>
    <%= monitem.item.name %>
  </p>

  <p>
    <strong><%= t(".name") %></strong>
    <%= monitem.name %>
  </p>

  <p>
    <strong><%= t(".alias_name") %></strong>
    <%= monitem.alias_name %>
  </p>

  <p>
    <strong><%= t(".nation") %></strong>
    <%= monitem.nation %>
  </p>

  <p>
    <strong><%= t(".birthplace") %></strong>
    <%= monitem.birthplace %>
  </p>

  <p>
    <strong><%= t(".occupation") %></strong>
    <%= monitem.occupation %>
  </p>

  <p>
    <strong><%= t(".biographical_text") %></strong>
    <%= monitem.biographical_text %>
  </p>

</div>
