<div id="<%= dom_id monitem %>">
  <p>
    <strong>Item:</strong>
    <%= monitem.item_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= monitem.name %>
  </p>

  <p>
    <strong>Alias name:</strong>
    <%= monitem.alias_name %>
  </p>

  <p>
    <strong>Nation:</strong>
    <%= monitem.nation %>
  </p>

  <p>
    <strong>Birthplace:</strong>
    <%= monitem.birthplace %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= monitem.occupation %>
  </p>

  <p>
    <strong>Biographical text:</strong>
    <%= monitem.biographical_text %>
  </p>

</div>
