<div id="<%= dom_id monitem %>">
  <p>
    <strong><%= t(".item") %></strong>
    <%= monitem.item.name %>
  </p>

  <p>
    <strong><%= t(".name") %></strong>
    <%= monitem.name %>
  </p>

  <p>
    <strong><%= t(".alias_name") %></strong>
    <%= monitem.alias_name %>
  </p>

  <p>
    <strong><%= t(".nation") %></strong>
    <%= monitem.nation %>
  </p>

  <p>
    <strong><%= t(".birthplace") %></strong>
    <%= monitem.birthplace %>
  </p>

  <p>
    <strong><%= t(".occupation") %></strong>
    <%= monitem.occupation %>
  </p>

  <div class="bio">
    <p><strong><%= t(".biographical_text") %></strong></p>
    <%= Kramdown::Document.new(monitem.biographical_text).to_html.safe %>
  </div>

</div>
