<div id="<%= dom_id item %>" class="columns my-6">
  <div class="column is-4 has-text-right">
    <% if item.avatar.attached? %>
    <%=image_tag item.avatar %>
    <% end %>
  </div>
  
  <div class="column is-8 content">
   <p><strong><%= item.name %></strong><% unless item.alias_name.strip == "" %><%= t(".alias_name") %><%= item.alias_name %><% end %>。（<%= item.birthday %>——<%= item.deathdate %>），<% if item.sex == "male" %>男<% else %>女<% end %>，<%= item.nation %>，出生于<%= item.birthplace %>。<%= item.occupation %>。</p>

     <%= Kramdown::Document.new(item.biographical_text).to_html.html_safe %>
  </div>
  
  
</div>
