<div id="<%= dom_id item %>">
  <p>
    <strong><%= t(".avatar") %>:</strong>
    <%=image_tag item.avatar.representation() %>
  </p>
  <p>
    <strong><%= t(".name") %>:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong><%= t(".alias_name") %>:</strong>
    <%= item.alias_name %>
  </p>

  <p>
    <strong><%= t(".sex") %>:</strong>
    <%= item.sex %>
  </p>

  <p>
    <strong><%= t(".nation") %>:</strong>
    <%= item.nation %>
  </p>

  <p>
    <strong><%= t(".birthday") %>:</strong>
    <%= item.birthday %>
  </p>

  <p>
    <strong><%= t(".deathdate") %>:</strong>
    <%= item.deathdate %>
  </p>

  <p>
    <strong><%= t(".birthplace") %>:</strong>
    <%= item.birthplace %>
  </p>

  <p>
    <strong><%= t(".occupation") %>:</strong>
    <%= item.occupation %>
  </p>

  <p>
    <strong><%= t(".biographical_text") %>:</strong>
    <%= item.biographical_text %>
  </p>

</div>
