<%= search_form_for @q do |f| %>
<div class="field has-addons has-addons-centered my-6 pt-6">

    <p class="control">
    <%= f.search_field :name_cont, class: "input" %>      
    </p>
    <p class="control">
      <%= f.submit "检索", class: "button is-primary" %>
    </p>
</div>
<% end %>

<div class="content">
  <ul class="list">
  <% @people.each do |person| %>
  <li class="list-item"><%= link_to person.name, person %></li>
  <% end %>
  </ul>
</div>

<div class="paginate">
  <p class="mt-6 pt-6 pb-6">
  <%= paginate @people %>
  </p>
</div>

<% if user_signed_in? %>
<div class="new-item">
 <%= link_to t(".new_item"), new_item_path %>
</div>
<% end %>
