<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".expert") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>
     <a href="<%= root_path %>">蒙古学专家学者数据库</a>
    </h1>
    
    <%= yield %>
  </body>
</html>
